appnope
asttokens
Brotli
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
filelock
fire==0.7.0
fonttools
fsspec==2024.12.0
gmpy2
idna
imageio==2.36.1
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader==0.4
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
medmnist==3.0.2
mpmath
nest_asyncio
networkx
numpy
packaging
pandas==2.2.3
parso
pexpect
pickleshare
pillow
platformdirs
prompt_toolkit
psutil
ptyprocess
pure_eval
Pygments
pyparsing
PySocks
python-dateutil
pytz==2024.2
PyYAML
pyzmq
requests
scikit-image==0.24.0
scikit-learn
scipy
six
stack_data
sympy==1.13.1
termcolor==2.5.0
threadpoolctl
tifffile==2024.8.30
torch==2.5.1
torchvision==0.20.1
tornado
tqdm==4.67.1
traitlets
typing_extensions
tzdata==2024.2
unicodedata2
urllib3
wcwidth
zipp
